version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: api
    environment:
      RUN_MODE: "api"
      REDIS_HOST: redis
    ports:
      - "8080:8080"
    depends_on:
      - redis

  worker:
    build: .
    container_name: worker
    environment:
      RUN_MODE: "worker"
      REDIS_HOST: redis
    depends_on:
      - redis
    restart: always