name: Deploy Application to EKS with KEDA

on:
  push:
    branches:
      - master
    # paths:
    #   - "k8s/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: latest

    steps:
      # -------------------------
      # Checkout repository
      # -------------------------
      - name: Checkout code
        uses: actions/checkout@v3

      # -------------------------
      # Log in to Docker Hub
      # -------------------------
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # -------------------------
      # Configure AWS CLI & kubeconfig
      # -------------------------
      - name: Configure AWS CLI
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1  # Replace with your region
      
      - name: Install latest kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
          kubectl version --client


      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name llm-cluster --region ap-south-1

      # -------------------------
      # Create Docker pull secret
      # -------------------------
      - name: Create Docker pull secret
        working-directory: k8s
        run: |
          kubectl apply -f namespaces.yaml
          kubectl create secret docker-registry regcred \
            --docker-server=https://index.docker.io/v1/ \
            --docker-username=kartikeya532001 \
            --docker-password=${{ secrets.DOCKERHUB_TOKEN }} \
            --docker-email=youremail@example.com \
            -n app \
            --dry-run=client -o yaml | kubectl apply -f -

      # -------------------------
      # Install KEDA if not already installed
      # -------------------------
      - name: Install KEDA
        run: |
          if ! kubectl get namespace keda > /dev/null 2>&1; then
            echo "Installing KEDA..."
            kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.18.3/keda-2.18.3.yaml
          else
            echo "KEDA already installed"
          fi


      # -------------------------
      # Deploy Kubernetes manifests
      # -------------------------
      - name: Deploy manifests
        working-directory: k8s
        run: |
          kubectl apply -f ingress.yaml
          kubectl apply -f redis.yaml
          kubectl apply -f api.yaml
          kubectl apply -f worker.yaml
          kubectl apply -f frontend.yaml
          kubectl apply -f spot.yaml
          kubectl apply -f keda/worker-scaledobject.yaml

      # -------------------------
      # Check deployment rollout
      # -------------------------
      - name: Check Deployment Rollout
        run: |
          kubectl rollout status deployment/llm-worker-spot -n app
          kubectl get deployments -n app
          kubectl get services -n app
          kubectl get ingress -n app
          kubectl get pods -n app


