name: Deploy Application to EKS with KEDA & ALB

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ap-south-1
      CLUSTER_NAME: llm-cluster

    steps:
    # -------------------------
    # Checkout
    # -------------------------
    - name: Checkout repository
      uses: actions/checkout@v3

    # -------------------------
    # AWS Credentials
    # -------------------------
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    # -------------------------
    # kubectl
    # -------------------------
    - name: Install kubectl
      run: |
        curl -LO https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/

    - name: Update kubeconfig
      run: aws eks update-kubeconfig --name $CLUSTER_NAME --region $AWS_REGION

    # -------------------------
    # Namespaces
    # -------------------------
    - name: Apply namespaces
      run: kubectl apply -f k8s/namespaces.yaml

    # -------------------------
    # Docker Pull Secret
    # -------------------------
    - name: Create Docker registry secret
      run: |
        kubectl create secret docker-registry regcred \
          --docker-server=https://index.docker.io/v1/ \
          --docker-username=${{ secrets.DOCKERHUB_USERNAME }} \
          --docker-password=${{ secrets.DOCKERHUB_TOKEN }} \
          --docker-email=youremail@example.com \
          -n app \
          --dry-run=client -o yaml | kubectl apply -f -

    # -------------------------
    # Install KEDA
    # -------------------------
    - name: Install KEDA
      run: |
        kubectl get ns keda || \
        kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.18.3/keda-2.18.3.yaml

    # -------------------------
    # AWS Load Balancer Controller (YOUR YAML)
    # -------------------------
    - name: Install AWS Load Balancer Controller
      run: |
        if ! kubectl get secret aws-load-balancer-webhook-tls -n kube-system >/dev/null 2>&1; then
          openssl req -x509 -nodes -days 365 -newkey rsa:2048   -keyout tls.key   -out tls.crt   -subj "/CN=aws-load-balancer-webhook.kube-system.svc"
          kubectl create secret tls aws-load-balancer-webhook-tls \
          --cert=tls.crt \
          --key=tls.key \
          -n kube-system
        else
          echo "Secret aws-load-balancer-webhook-tls already exists. Skipping."
        fi

        kubectl apply -f k8s/aws-load-balancer-controller.yml
        kubectl rollout status deployment/aws-load-balancer-controller -n kube-system

    # -------------------------
    # Cluster Autoscaler
    # -------------------------
    - name: Install Cluster Autoscaler
      run: |
        kubectl apply -f https://raw.githubusercontent.com/kubernetes/autoscaler/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
          kubectl -n kube-system patch deployment cluster-autoscaler --type json -p='[
            {
              "op": "replace",
              "path": "/spec/template/spec/containers/0/command",
              "value": [
                "./cluster-autoscaler",
                "--cloud-provider=aws",
                "--namespace=kube-system",
                "--cluster-name=llm-cluster",
                "--node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/llm-cluster",
                "--balance-similar-node-groups",
                "--skip-nodes-with-local-storage=false",
                "--skip-nodes-with-system-pods=false"
              ]
            }
          ]'
          kubectl -n kube-system annotate serviceaccount cluster-autoscaler \
            eks.amazonaws.com/role-arn=arn:aws:iam::996596548896:role/llm-cluster-cluster-autoscaler \
            --overwrite
          kubectl -n kube-system set env deployment/cluster-autoscaler AWS_REGION=${{ env.AWS_REGION }}
          
    # -------------------------
    # Deploy Application
    # -------------------------
    - name: Deploy application manifests
      run: |
        kubectl apply -f k8s/redis.yaml
        kubectl apply -f k8s/api.yaml
        kubectl apply -f k8s/worker.yaml
        kubectl apply -f k8s/frontend.yaml
        kubectl apply -f k8s/spot.yaml
        kubectl apply -f k8s/keda/worker-scaledobject.yaml

    # -------------------------
    # Ingress LAST
    # -------------------------
    - name: Deploy Ingress
      run: kubectl apply -f k8s/ingress.yaml

    # -------------------------
    # Verification
    # -------------------------
    - name: Verify deployment
      run: |
        kubectl get pods -n app
        kubectl get ingress -n app
        kubectl get svc -n app
